<h2 id="title">VideoJS Player component</h2>

{{videojs-player
  src="https://s3-ap-southeast-2.amazonaws.com/files.wakp/stg/tjarntjarra/video-0395.mp4"
  textTrack="https://s3-ap-southeast-2.amazonaws.com/files.wakp/stg/tjarntjarra/patjupirri-betty-west.m4v.txt"
  type="video/mp4"
  poster="https://vjs.zencdn.net/v/oceans.png"
  vr-projection="360"
  controls=false
  autoplay=true
}}

{{videojs-player
  sources=sources
  poster="https://vjs.zencdn.net/v/oceans.png"
  controls=true
  autoplay=false
}}

{{outlet}}
